
<h2></h2>
<div class="row">
    <div class="col-sm-4">
        <textarea id="textArea" rows="20" cols="50" ></textarea>
    </div>
    <div id="items" class="col-sm-8" data-bind="template: { name: 'item-template', foreach: books }">

    </div>
</div>

<script type="text/html" id="item-template">
    <div class="col-sm-2 item" data-bind="attr:{data: Isbn}">
        <img class="image" data-bind="attr:{src: ImageUrl}">
        <input type="checkbox" class="checkBox" data-bind="checked: IsChecked,attr:{itemkey: Isbn}" />
        <div class="teaser__heading">
            <a data-bind="text: Title, attr:{href: Url}"></a>
        </div>
        <div>
            Rating: <span data-bind="text: RatingCount"></span>
        </div>
        <div>
            <span class="label-item" data-bind="text: Label"></span>
        </div>
    </div>
</script>

<script src="~/Scripts/app/bookModel.js"></script>
<script src="~/Scripts/app/booksViewModel.js"></script>
<script src="~/Scripts/app/app.js"></script>
