@{
    ViewBag.Title = "Home Page";
}
<h2>Saxo</h2>

<div class="row">
    <div class="col-sm-4">
        <textarea id="textArea" rows="20" cols="50"></textarea>
    </div>
    <div id="items" class="col-sm-8">
        
    </div>
</div>

<script>

    var template = _.template(' \
            <div data-item="<%- Isbn %>" class="col-sm-2"> \
               <img src="<%- ImageUrl %>" class="image">\
               <input type="checkbox" class="checkBox" id="<%- Isbn %>">\
               <div class="teaser__heading"><span><%- Title %> </span></div>\
               <span >rating <%- RatingCount %></span>\
               <span><%- Price %>$</span>\
            </div>\
            ');

    var loadedIsbn = [];
    $('#textArea').keypress(function (event) {
        if (event.keyCode == 13) {
            var keysArray= $('#textArea').val().split('\n');
            $.each(keysArray, function (index, value) {
                if (value !== "") { //$.inArray(value, loadedIsbn) === -1 && 
                    GetItemInfo(value);
                }
            });
            
        }
        return true;
    });

    function GetItemInfo(key) {
        $.ajax({
            type: "POST",
            url: "/Home/GetItem",
            data: { key: key },
            success: function (result) {
                var item = JSON.parse(result);
                loadedIsbn.push(key);
                $('#items').html($('#items').html() + template(item));
                AssignEvent();
            }
        });
    };

    function AssignEvent() {
        $('.checkBox').change(function () {
            var key = this.id;
            $.ajax({
                type: "POST",
                url: "/Home/UpadeItem",
                data: { key: key }
            });
        });
    }

   


</script>